<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'GUARDIAO.name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../assets/imgs/guardiao/capturar1.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'GUARDIAO.descrip' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/guardiao/capturado.jpg" />
  </ion-card>
  
  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'GUARDIAO.matrizt' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/guardiao/matriz.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'GUARDIAO.matriz' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'GUARDIAO.aprendert' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/guardiao/aprende_hab.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'GUARDIAO.aprender' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/guardiao/compra_hab.jpg" />
  </ion-card>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'GUARDIAO.evoluirt' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/guardiao/barra_progres_evo.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'GUARDIAO.evoluir' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/guardiao/sacri_num_guard.jpg" />
  </ion-card>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'GUARDIAO.refinart' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/guardiao/refinar.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'GUARDIAO.refinar' | translate }}</h6>
  </ion-text>


  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'GUARDIAO.mutart' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/guardiao/mutar.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'GUARDIAO.mutar' | translate }}</h6>
  </ion-text>



</ion-content>
