<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'MONTARIADEGUERRA.name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-text>
  <h6>{{ 'MONTARIADEGUERRA.descrip' | translate }}</h6>
</ion-text>

<ion-item-divider color="primary">
  <ion-text color="light">
    <h4><b>{{ 'MONTARIADEGUERRA.sacolat' | translate }}</b></h4>
  </ion-text>
 </ion-item-divider>

 <ion-card>
  <img src="../../assets/imgs/montariadeguerra/ap_sacola.jpg" />
</ion-card>

<ion-text>
  <h6>{{ 'MONTARIADEGUERRA.sacola' | translate }}</h6>
</ion-text>

<ion-item-divider color="primary">
  <ion-text color="light">
    <h4><b>{{ 'MONTARIADEGUERRA.subirnvlt' | translate }}</b></h4>
  </ion-text>
 </ion-item-divider>

 <ion-card>
  <img src="../../assets/imgs/montariadeguerra/subir_nv.jpg" />
</ion-card>

<ion-text>
  <h6>{{ 'MONTARIADEGUERRA.subirnvl' | translate }}</h6>
</ion-text>

<ion-item-divider color="primary">
  <ion-text color="light">
    <h4><b>{{ 'MONTARIADEGUERRA.fundirt' | translate }}</b></h4>
  </ion-text>
 </ion-item-divider>

 <ion-card>
  <img src="../../assets/imgs/montariadeguerra/fundir.jpg" />
</ion-card>

<ion-text>
  <h6>{{ 'MONTARIADEGUERRA.fundir' | translate }}</h6>
</ion-text>

<ion-item-divider color="primary">
  <ion-text color="light">
    <h4><b>{{ 'MONTARIADEGUERRA.pedradeguerrat' | translate }}</b></h4>
  </ion-text>
 </ion-item-divider>

<ion-text>
  <h6>{{ 'MONTARIADEGUERRA.pedradeguerra' | translate }}</h6>
</ion-text>




</ion-content>
