<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'CORREDORNEBULOSO.name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <img src="../../assets/imgs/corredor/home1.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'CORREDORNEBULOSO.descrip' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/corredor/home2.jpg" />
  </ion-card>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CORREDORNEBULOSO.bossesqt' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/corredor/bossesq.jpg" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CORREDORNEBULOSO.bossesq' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CORREDORNEBULOSO.bossdirt' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/corredor/bossdir.jpg" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CORREDORNEBULOSO.bossdir' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CORREDORNEBULOSO.baphomett' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/corredor/baphomet.jpg" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CORREDORNEBULOSO.baphomet' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CORREDORNEBULOSO.ellat' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/corredor/ella_baloes.jpg" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CORREDORNEBULOSO.ella' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/corredor/ella_cartas.jpg" />
  </ion-card>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CORREDORNEBULOSO.acessoriost' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/corredor/acessorios.jpg" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CORREDORNEBULOSO.acessorios' | translate }}</h6>
  </ion-text>

</ion-content>
