<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'FARM.name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../assets/imgs/fazengeral.jpeg" />
  </ion-card>


<ion-text>
  <h6>{{ 'FARM.descricao' | translate }}</h6>
</ion-text>

  <ion-item-divider color="primary">
   <ion-text color="light">
     <h4><b>{{ 'FARM.headerchefechoco' | translate }}</b></h4>
   </ion-text>
  </ion-item-divider>

  <ion-card>
    <img src="../../assets/imgs/Fazenda.png" />
  </ion-card>
  
  <ion-text>
    <h6>{{ 'FARM.chefechoco' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/chefe_choco.jpeg" />
  </ion-card>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FARM.headerguaxinim' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/guaxinimtrocas.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FARM.guaxinim' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FARM.headerpets' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/pets.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FARM.cachorros' | translate }}</h6>
  </ion-text>

  <ion-text>
    <h6>{{ 'FARM.fimdescricao' | translate }}</h6>
  </ion-text>

</ion-content>
