<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'FAMA.name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../assets/imgs/KE/tela_evento.PNG" />
  </ion-card>
  
  <ion-text>
    <h6>{{ 'FAMA.descrip' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/KE/participando.PNG" />
  </ion-card>

</ion-content>
