<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'CARTAS.name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <img src="../../assets/imgs/cartas/home.PNG" />
  </ion-card>

  <ion-text>
    <h6>{{ 'CARTAS.descrip' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CARTAS.melhorart' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/cartas/Melhorar_efeitos.PNG" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CARTAS.melhorar' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CARTAS.refinart' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/cartas/refina_amarela.PNG" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CARTAS.refinar' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/cartas/refina_vermelha.PNG" />
  </ion-card>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CARTAS.poeiraamarelat' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/cartas/poeira_amarela.PNG" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CARTAS.poeiraamarela' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'CARTAS.poeiravermelhat' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/cartas/poeira_vermelha.PNG" />
  </ion-card>

   <ion-text>
    <h6>{{ 'CARTAS.poeiravermelha' | translate }}</h6>
  </ion-text>

</ion-content>
