<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'FADA.name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-horizontal-circle-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../assets/imgs/fada/home.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.descrip' | translate }}</h6>
  </ion-text>


  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.vitt' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-text>
    <h6>{{ 'FADA.vit' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.presentet' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/fada/presentes.jpg" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.presente' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.desbloqueart' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/fada/aprender.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.desbloquear' | translate }}</h6>
  </ion-text>

  <ion-card>
    <img src="../../assets/imgs/fada/entreterimento.png" />
  </ion-card>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.estresset' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/fada/organizar.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.estresse' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.organizart' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/fada/organizar.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.organizar' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.docedefadat' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/fada/doce_de_fada.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.docedefada' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.metast' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/fada/metas_de_vida.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.metas' | translate }}</h6>
  </ion-text>

  <ion-item-divider color="primary">
    <ion-text color="light">
      <h4><b>{{ 'FADA.requerimentost' | translate }}</b></h4>
    </ion-text>
   </ion-item-divider>

   <ion-card>
    <img src="../../assets/imgs/fada/requerimentos.png" />
  </ion-card>

  <ion-text>
    <h6>{{ 'FADA.requerimentos' | translate }}</h6>
  </ion-text>


</ion-content>
